# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-bery.desktop

[Desktop Entry]
Comment=Lightweight Berycoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-bery %u"
GenericName[en_US]=Berycoin Wallet
GenericName=Berycoin Wallet
Icon=electrum-bery
Name[en_US]=Electrum Berycoin Wallet
Name=Electrum Berycoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/berycoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-bery --testnet %u"
Name=Testnet mode
